<div class='container'>
  
  <div class='row'>
    
    <div class="col-md-6 col-md-offset-2">
      <h1><img src="https://chatmantics.com/img/howitworks-icon.png" alt="logo">Chatmantics Automation</h1>
     

      <%= link_to "Login", new_user_session_path, :class => "btn btn-large" %>
      <%= link_to "Signup", new_user_registration_path, :class => "btn btn-primary btn-large" %>
    </div>
 
  
  </div>

</div>
